@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 240, 253, 244; /* Light Green Tint */
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
}

/* Custom Font Families */
.font-sans {
  font-family: var(--font-inter), sans-serif;
}

.font-display {
  font-family: var(--font-oswald), sans-serif;
}

/* Custom Scrollbar for the player list */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #166534; /* Green-800 */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #14532d; 
}